@mixin font-face($name) {
  @font-face {
    font-family: $name;
    src:  url("/fonts/proxima-nova/#{$name}.eot?") format("eot"),
	        url("/fonts/proxima-nova/#{$name}.woff2") format("tff"),
	        url("/fonts/proxima-nova/#{$name}.woff") format("woff"),
          url("/fonts/proxima-nova/#{$name}.woff2") format("svg");
  }
}

@include font-face('proximanovacond-regular-webfont');
@include font-face('proximanovacond-semibold-webfont');
@include font-face('proximanova-regular-webfont');

$proxima-condensed-regular: 'proximanovacond-regular-webfont';
$proxima-condensed-semibold: 'proximanovacond-semibold-webfont';
$proxima-regular: 'proximanova-regular-webfont';
$average: 'average';

html {
  height: 100%;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  overflow-y: scroll;
}

a {
  color: #4990E2;
  text-decoration: none;
}

p {
  font-family: $average;
  line-height: 27px;
  margin: 8px 0;
  padding-bottom: 8px;
  font-size: 18px;
}

h3 {
  color: #17181A;
  font-size: 32px;
  font-family: $proxima-condensed-semibold;
  line-height: 28px;
}

.faded-label {
  color: #B8C2CC;
  font-size: 14px;
  font-family: $proxima-condensed-semibold;
  line-height: 21px;
  text-transform: uppercase;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}

p.faded-label.mobile-title-section {
  @media screen and (max-width: 910px) {
    padding-left: 16px;
  }
}

.header {
  position: fixed;
  padding-top: 5px;
  box-sizing: border-box;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0px 1px 1px #ccc;
  height: 88px;
  background-color: #fff;
  z-index: 15;
  max-width: 100%;
  transition: transform 350ms;
  > div {
    max-width: 850px;
    margin: 0 auto;
  }
  &:before {
    content: '';
    background-color: #fff;
    width: 10px;
    height: 20px;
    position: absolute;
    left: -5px;
    top: 0;
    height: 88px;
    @media screen and (max-width: 1300px) {
      display: none;
    }
  }
  &:after {
    content: '';
    background-color: #fff;
    width: 10px;
    height: 20px;
    position: absolute;
    right: -5px;
    top: 0;
    height: 88px;
    @media screen and (max-width: 1300px) {
      display: none;
    }
  }
  .header-title {
    display: inline-block;
    font-family: $proxima-regular;
    padding: 18px 48px 20px 8px;
    h3, p {
      display: inline-block;
      padding: 0 8px;
      line-height: 16px;
    }
    h3 {
      font-family: $proxima-condensed-semibold;
      font-size: 16px;
      text-transform: uppercase;
      color: #17181A;
      @media screen and (max-width: 910px) {
        padding-left: 41px;
      }
    }
    p {
      font-size: 14px;
      font-family: $proxima-condensed-regular;
      color: #B8C2CC;
    }
    @media screen and (max-width: 768px) {
      padding: 4px 16px 8px 16px;
    }
  }
  nav {
    float: right;
    ul {
      padding: 16px 0 20px 28px;
      @media screen and (max-width: 910px) {
        padding-right: 41px;
      }
      li {
        padding: 0 20px;
        font-size: 14px;
        color: #B8C2CC;
        opacity: 1;
        display: inline-block;
        text-transform: uppercase;
        font-family: $proxima-condensed-semibold;
        cursor: pointer;
      }
      li.active {
        opacity: 1;
        color: #4990E2;
      }
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    height: 64px;
    box-shadow: 2px 1px 4px 1px #ccc;
  }
}

.mobile-nav {
  float: right;
  background-color: #FAFAFA;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #FAFAFA;
  width: 45vw;
  z-index: 1;
  transition: transform 350ms;
  transition-timing-function: ease-in-out;
  display: none;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding: 24px 44px;
      font-size: 14px;
      color: #ccc;
      text-transform: uppercase;
      font-family: $proxima-condensed-semibold;
      cursor: pointer;
      border-bottom: 1px solid #E6E6E6;
    }
    li.active {
      opacity: 1;
      color: #4990E2;
    }
  }
  @media screen and (max-width: 768px) {
    display: block;
  }
  @media screen and (max-width: 500px) {
  }
}


.container {
  width: 1300px;
  margin: 0 auto;
  max-width: 100%;
}

.content {
  margin: 0 auto 0 auto;
  max-width: 818px;
}

.contact-item {
  padding: 25px;
  &:nth-child(1) {
    padding-left: 0;
    @media screen and (max-width: 910px) {
      padding: 0 40px;
    }
    @media screen and (max-width: 768px) {
      padding: 0 16px;
    }
  }
  &:nth-child(2) {
    padding-right: 0;
    @media screen and (max-width: 910px) {
      padding: 0 40px;
    }
    @media screen and (max-width: 768px) {
      padding: 0 16px;
    }
  }
}

.contact-item-right {
  margin-top: 45px;
  p {
    margin-top: 3px;
  }
}

form.contact {
  text-align: center;
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
    resize: vertical;
  }
  input, textarea {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px 16px;
    font-size: 16px;
    font-family: $average;
    box-sizing: border-box;
    margin: 8px 0;
    background-color: #fff;
    z-index: 3;
    position: relative;
  }
  .contact-submit {
    font-family: $proxima-condensed-semibold;
    background-color: #4990E2;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: width 300ms, padding 300ms, opacity 300ms;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .contact-submit.success-button {
    width: 0 !important;
    background-color: #72DCA3;
    padding: 10px 0px;
    opacity: 0;
    color: #72DCA3;
  }
}



.works-header-image {
  width: 100%;
}

.contact-title {
  margin-bottom: 0;
}

.blog-list-post, .work-list-post {
  margin-top: 56px;
  h3 {
    margin: 32px 0 16px 0;
    line-height: 48px;
  }
  p {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.read-more {
  margin-top: 4px;
}

footer {
  svg {
    cursor: pointer;
    &:hover {
      #codepenIcon, #githubIcon, #linkedinIcon {
          fill: #000;
      }
    }
  }
}


.blog-list, .blog-single {
  h3 {
    a {
      color: #17181A;
    }
  }
  padding: 0 50px;
  @media screen and (max-width: 768px) {
    padding: 0 16px;
  }
}

.contact-container {
  padding-top: 30px;
}

footer {
  text-align: center;
  padding: 60px 0 86px 0;
  svg {
    padding: 12px 14px;
  }
}

// description-header Component

.description-header {
  text-align: center;
  width: 100%;
  background-color: #F5F7FA;
  margin-top: 88px;
  box-sizing: border-box;
  transition: background-color 1s, color 1s, text-shadow 1s;
  .success-header {
    color: #eee;
  }
  > div {
    max-width: 768px;
    margin: 0 auto;
  }
  @media screen and (max-width: 1350px) {
    padding: 0 15vw;
  }
  @media screen and (max-width: 768px) {
    padding: 0 24px;
  }
  @media screen and (max-width: 575px) {
    padding: 0 16px;
  }
  .emoji-header {
    width: 100%;
    padding: 40px 0;
    max-width: 710px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 27px;
    font-family: $proxima-regular;
    line-height: 1.5;
    color: #899199;
    @media screen and (max-width: 768px) {
      padding: 24px 0;
      text-align: left;
    }
  }
}

.resume-section {
  border-bottom: 1px solid #DAE0E6;
  padding: 50px 0;
  .work-experience-entry {
    padding-bottom: 24px;
  }
  .faded-label {
    line-height: 1.5;
    font-size: 14px;
    text-transform: uppercase;
  }
  p {
    margin: 0;
  }
  @media screen and (max-width: 768px) {
    padding: 0;
    .mobile-title-section {
      background-color: #F5F7FA;
      padding: 32px 44px 16px;
      border-bottom: 1px solid #DAE0E6;
      font-size: 16px;
      line-height: 11px;
    }
    .inside-resume-section-wrapper {
      padding: 84px 16px 0 16px;
      &:first-child {
        padding-top: 100px;
      }
    }
    .work-experience-entry {
      p {
        padding-bottom: 0;
      }
    }
  }
}

.resume-section.pdf-download {
  text-align: center;
  div {
    font-family: $proxima-condensed-semibold;
    background-color: #4990E2;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 0;
    cursor: pointer;
    margin: 0 auto;
    padding: 20px;
    max-width: 320px;
  }
  @media screen and (max-width: 768px) {
    div {
      margin: 0 auto;
    }
    padding: 32px 16px;
    border-bottom: 1px solid #DAE0E6;
    background-color: #F5F7FA;
  }
}

.tag-list {
  text-transform: uppercase;
}

.neesons {
  width: 24px;
  vertical-align: -4px;
}

.desktop-header {
  @media screen and (max-width: 768px){
    display: none;
  }
}

.mobile-header {
  display: none;
  margin-top: 6px;
  @media screen and (max-width: 768px){
    display: block;
  }
}

.inside-resume-section-wrapper {
  padding: 0 64px;
}

.hamburger-container {
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  .hamburger-component {
    height: 3px;
    background-color: #B8C2CC;
    width: 22px;
    margin: 4px 0;
  }
  .sesame-seed {
    transition: transform 350ms;
    transform-origin: 100% 80%;
  }
  .boring-bottom-bun {
    transition: transform 350ms;
    transform-origin: 100% 20%;
  }
  .that-meat {
    transition: transform 350ms;
    transform-origin: 0% 50%;
  }
}

.mobile-nav-toggle {
  display: none;
  float: right;
  margin: -1px 24px 12px 24px;
  transition-timing-function: ease-in-out;
  @media screen and (max-width: 768px) {
    display: block;
    margin-right: 0;
  }
}

body {
  z-index: 3;
  background-color: #fff;
  position: relative;
  .app-content {
    position: relative;
    background-color: #fff;
    z-index: 7;
    transition: transform 350ms;
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }
  @media screen and (max-width: 768px) {
    top: -22px;
    .app-content {
      box-shadow: 2px 1px 4px 1px #ccc;
    }
  }
}

.mobile-nav-title {
  display: inline-block;
  position: fixed;
  top: 19px;
  right: 80px;
  font-size: 14px;
  color: #D8D8D8;
  display: none;
  right: 56px;
  @media screen and (max-width: 768px) {
    display: block;
    margin-top: 5px;
  }
}

.active-mobile-body {
  @media screen and (max-width: 768px) {
    transform: translate3d(-45vw, 0, 0);
  }
}

.active-mobile-header {
  @media screen and (max-width: 768px) {
    transform: translate3d(-45vw, 0, 0);
  }
}

.mobile-nav.active {
  transform: translate3d(0, 0, 0);
}

.hamburger-container.active {
  .sesame-seed {
    transform: rotate(45deg) translate(5px, 6px) scaleX(.7);
  }
  .that-meat {
    transform: scaleX(.9);
  }
  .boring-bottom-bun {
    transform: rotate(-45deg) translate(5px, -6px) scaleX(.7);
  }
}

// utility

.clear {
  clear: both;
}

.halves {
  width: 50%;
  float: left;
  position: relative;
  box-sizing: border-box;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.tripler {
  width: 33.33333333332%;
  float: left;
  position: relative;
  box-sizing: border-box;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.niner {
  width: 66.6666665%;
  float: left;
  position: relative;
  box-sizing: border-box;
}

// blog

.blog-single.content {
  margin-top: 80px;
  img {
    max-width: 100%;
    padding: 40px 0;
  }
  .triplet {
    width: 33%;
    float: left;
    padding: 40px 4px;
    box-sizing: border-box;
  }
  @media screen and (max-width: 768px) {
    padding-top: 40px;
    margin-top: -73px;
  }
}

.email-wrapper, .message-wrapper {
  &:after {
    color: #000;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid red;
    padding: 8px;
    z-index: 4;
    display: block;
    border-radius: 3px;
    font-family: $proxima-regular;
  }
}
.email-wrapper.error::after {
    content: 'Please enter a valid e-mail';
}

.message-wrapper.error::after {
  content: 'Message must be at least 20 characters';
  margin-bottom: 8px;
}

@keyframes handWave {
  from {transform: rotate(20deg)}
  to   {transform: rotate(-20deg)}
}

.hand-wave {
  transform-origin: 20px 20px;
  animation: handWave 750ms infinite alternate ease-in-out;
}
