@mixin font-face($name) {
  @font-face {
    font-family: $name;
    src:  url("/fonts/proxima-nova/#{$name}.eot?") format("eot"),
	        url("/fonts/proxima-nova/#{$name}.woff2") format("tff"),
	        url("/fonts/proxima-nova/#{$name}.woff") format("woff"),
          url("/fonts/proxima-nova/#{$name}.woff2") format("svg");
  }
}

@include font-face('proximanovacond-regular-webfont');
@include font-face('proximanovacond-semibold-webfont');
@include font-face('proximanova-regular-webfont');

$proxima-condensed-regular: 'proximanovacond-regular-webfont';
$proxima-condensed-semibold: 'proximanovacond-semibold-webfont';
$proxima-regular: 'proximanova-regular-webfont';
$average: 'average';

body {
  margin: 0;
  overflow-y: scroll;
}

a {
  color: #68C9CC;
  text-decoration: none;
}

p {
  font-family: $average;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 8px;
  font-size: 16px;
}

h3 {
  color: #17181A;
  font-size: 32px;
  font-family: $proxima-condensed-semibold;
  line-height: 28px;
}

.faded-label {
  color: #B8C2CC;
  font-size: 16px;
  font-family: $proxima-condensed-semibold;
  line-height: 1;
  padding-bottom: 0;
  margin-bottom: 0;
}

.header {
  position: fixed;
  padding-top: 5px;
  box-sizing: border-box;
  width: 1300px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0px 1px 1px #ccc;
  height: 88px;
  background-color: #fff;
  z-index: 5;
  max-width: 100%;
  &:before {
    content: '';
    background-color: #fff;
    width: 10px;
    height: 20px;
    position: absolute;
    left: -5px;
    top: 0;
    height: 88px;
  }
  &:after {
    content: '';
    background-color: #fff;
    width: 10px;
    height: 20px;
    position: absolute;
    right: -5px;
    top: 0;
    height: 88px;
  }
  .header-title {
    display: inline-block;
    font-family: $proxima-regular;
    padding: 18px 48px 20px 48px;
    h3, p {
      display: inline-block;
      padding: 0 8px;
      line-height: 16px;
    }
    h3 {
      font-family: $proxima-condensed-semibold;
      font-size: 16px;
      text-transform: uppercase;
      color: #17181A;
    }
    p {
      font-size: 14px;
      font-family: $proxima-condensed-regular;
      color: #B8C2CC;
    }
  }
  nav {
    float: right;
    ul {
      padding: 16px 28px 20px 28px;
      li {
        padding: 0 20px;
        font-size: 14px;
        color: #17181A;
        opacity: .4;
        display: inline-block;
        text-transform: uppercase;
        font-family: $proxima-condensed-semibold;
        cursor: pointer;
      }
      li.active {
        opacity: 1;
      }
    }
  }
}


.container {
  width: 1300px;
  margin: 0 auto;
  max-width: 100%;
}

.content {
  margin: 0 auto 0 auto;
  max-width: 710px;
}

.contact-item {
  padding: 25px;
}

.contact-item-right {
  margin-top: 45px;
  p {
    margin-top: 3px;
  }
}

form.contact {
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
  input, textarea {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px 16px;
    font-size: 16px;
    font-family: $average;
    box-sizing: border-box;
    margin: 8px 0;
  }
  .contact-submit {
    font-family: $proxima-condensed-semibold;
    background-color: #68C9CC;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 0;
    cursor: pointer;
  }
}

.works-header-image {
  width: 100%;
}

.contact-title {
  margin-bottom: 0;
}

.blog-list-post, .work-list-post {
  margin-top: 73px;
}

footer {
  svg {
    cursor: pointer;
    &:hover {
      #codepenIcon, #githubIcon, #linkedinIcon {
          fill: #000;
      }
    }
  }
}


.blog-list, .blog-single {
  h3 {
    a {
      color: #17181A;
    }
  }
  padding: 0 25px;
}

.contact-container {
  padding-top: 30px;
}

footer {
  text-align: center;
  padding: 60px 0 86px 0;
  svg {
    padding: 12px 14px;
  }
}

// description-header Component

.description-header {
  text-align: center;
  width: 100%;
  height: 142px;
  background-color: #f0f2f5;
  margin-top: 88px;
  box-sizing: border-box;
  display: table;
  padding: 0 288px;
  .emoji-header {
    display: table-cell;
    max-width: 710px;
    margin: 0 auto;
    font-family: $proxima-regular;
    line-height: 1.5;
    color: #8A9199;
    vertical-align: middle;
  }
}

// utility

.clear {
  clear: both;
}

.halves {
  width: 50%;
  float: left;
  position: relative;
  box-sizing: border-box;
}
