{{outlet}}

<div class="blog-list">
  {{#each model as |work|}}

    <div class="work-list-post">
      <img class="works-header-image" src="{{work.image_path}}">
      <h3>{{#link-to 'work.show' work.id}}{{work.title}}{{/link-to}}</h3>
      <p>{{{work.body}}}</p>
    </div>
  {{/each}}
</div>
