{{outlet}}


<div class="blog-list">
  {{#each model as |blog|}}
    <div class="blog-list-post">
      <p class="faded-label">{{moment-format blog.created_at 'MMMM Do, YYYY, h:mm A'}}</p>
      <h3>{{#link-to 'blog.show' blog.id}}{{blog.title}}{{/link-to}}</h3>
      <p>{{{blog.body}}}</p>
    </div>
  {{/each}}
</div>
