
{{header-bar}}

<div class="app-content">
  <div class="container">
    {{outlet}}
  </div>
{{activeMobileNav}}
  <div class="container">
    {{footer-bar}}
    <div class="clear"></div>
  </div>
</div>
