{{outlet}}

{{description-header text=model}}

<div class="content">
  <div class="resume-wrapper">
    <div class="resume-section">
      <p class="faded-label tripler mobile-title-section">PROFICIENCIES</p>
        <div class="inside-resume-section-wrapper">

        <p class="niner work-experience-entry">
          HTML, CSS3, SASS, JavaScript, Ember.js, Ruby on Rails, Linux, PHP5, Sketch 3, Illustrator
        </p>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="resume-section">
      <p class="faded-label tripler mobile-title-section">WORK EXPERIENCE</p>
        <div class="inside-resume-section-wrapper">
        <div class="doubler">
          <div class="work-experience-entry">
            <p class="faded-label">Selz.com</p>
            <p>
              Bend, OR (Remote)<br>
              Front End Developer<br>
              Jul. 2017 - Present
            </p>
          </div>
          <div class="work-experience-entry">
            <p class="faded-label">Revision Agency</p>
            <p>
              Los Angeles, CA (Remote)<br>
              Full Stack Developer<br>
              Aug. 2016 - Jul. 2017
            </p>
          </div>
          <div class="work-experience-entry">
            <p class="faded-label">Freelance</p>
            <p>
              SF/Portland/Phoenix<br>
              Front End Developer<br>
              May 2014 - Jul. 2017
            </p>
          </div>
          <div class="work-experience-entry">
            <p class="faded-label">United States Army Reserve</p>
            <p>
              USA<br>
              Sergeant<br>
              Apr. 2009 - Apr. 2016
            </p>
          </div>
          <div class="work-experience-entry">
            <p class="faded-label">Vuria Creative</p>
            <p>
              Phoenix, AZ<br>
              Full Stack Developer<br>
              Oct. 2015 - Aug. 2016
            </p>
          </div>
          <div class="work-experience-entry">
            <p class="faded-label">San Francisco Superior Court</p>
            <p>
              San Francisco, CA<br>
              Legal Intern<br>
              Dec. 2013 - Jun. 2014
            </p>
          </div>
          </div>
        </div>
      <div class="clear"></div>
    </div>
    <div class="resume-section">
      <p class="faded-label tripler mobile-title-section">EDUCATION</p>
      <div class="inside-resume-section-wrapper">
        <div class="tripler work-experience-entry">
          <p class="faded-label">San Francisco State University</p>
          <p>
            San Francisco, CA<br>
            B.A. Political Science<br>
            Jan. 2012 - May 2014
          </p>
        </div>
        <div class="tripler work-experience-entry">
          <p class="faded-label">DeAnza College</p>
          <p>
            Cupertino, CA<br>
            A.A. Liberal Arts<br>
            May 2009 - Dec. 2012
          </p>
        </div>
        <div class="clear"></div>

      </div>
      <div class="clear"></div>
    </div>
    <div class="resume-section pdf-download">
      <a target="_blank" href="./files/JulianKennon_Resume.pdf"><div class="pdf-download">DOWNLOAD PDF</div></a>
    </div>
    <div class="clear"></div>

  </div>
  <div class="clear"></div>

</div>
