{{outlet}}

{{description-header text=model}}

<div class="content">
  <div class="resume-section">
    <p class="faded-label tripler">PROFICIENCIES</p>
    <p class="niner">
      HTML, CSS3, SASS, JavaScript, Ember.js, Ruby on Rails, Linux, PHP5, Sketch 3, Illustrator
    </p>
    <div class="clear"></div>
  </div>
  <div class="resume-section">
    <p class="faded-label tripler">WORK EXPERIENCE</p>
    <div class="tripler">
      <div class="work-experience-entry">
        <p class="faded-label">Revision Agency</p>
        <p>
          Los Angeles, CA (Remote)<br>
          Full Stack Developer<br>
          Aug. 2016 - Present
        </p>
      </div>
      <div class="work-experience-entry">
        <p class="faded-label">Freelance</p>
        <p>
          SF/Portland/Phoenix<br>
          Front-End Developer<br>
          May 2015 - Present
        </p>
      </div>
      <div class="work-experience-entry">
        <p class="faded-label">United States Army Reserve</p>
        <p>
          USA<br>
          Sergeant<br>
          Apr. 2009 - Apr. 2016
        </p>
      </div>
      </div>
      <div class="work-experience-entry">
        <p class="faded-label">Vuria Creative</p>
        <p>
          Phoenix, AZ<br>
          Full Stack Developer<br>
          Oct. 2015 - Aug. 2016<br>
        </p>
      </div>
      <div class="work-experience-entry">
        <p class="faded-label">San Francisco Superior Court</p>
        <p>
          San Francisco, CA<br>
          Legal Intern<br>
          Dec. 2013 - Jun. 2014
        </p>
      </div>
    <div class="clear"></div>
  </div>
  <div class="resume-section">
    <div class="tripler">
      <p class="faded-label">EDUCATION</p>
    </div>
    <div class="tripler">
      <p class="faded-label">San Francisco State University</p>
      <p>
        San Francisco, CA<br>
        B.A. Political Science<br>
        Jan. 2012 - May 2014
      </p>
    </div>
    <div class="tripler">
      <p class="faded-label">DeAnza College</p>
      <p>
        Cupertino, CA<br>
        A.A. Liberal Arts<br>
        May 2009 - Dec. 2012
      </p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="resume-section pdf-download">
    <a href="./files/KennonJulianResume.pdf"><div>DOWNLOAD PDF</div></a><
  </div>
</div>
